name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run tests
        run: pytest
        env:
          CI: true   # Prevent model from downloading from S3 during CI

  build-api:
    runs-on: ubuntu-latest
    needs: test-api
    steps:
      - uses: actions/checkout@v4

      - name: Build API Docker image
        run: docker build -f docker/Dockerfile.api -t course-completion-api .

  push-to-ecr:
    runs-on: ubuntu-latest
    needs: build-api
    steps:
      - uses: actions/checkout@v4

      # Login to ECR
      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          region: ${{ secrets.AWS_REGION }}

      # Tag Docker image for API
      - name: Tag API Docker image
        run: |
          docker tag course-completion-api:latest 685251218327.dkr.ecr.eu-north-1.amazonaws.com/course-completion-api:latest

      # Push API Docker image
      - name: Push API Docker image
        run: |
          docker push 685251218327.dkr.ecr.eu-north-1.amazonaws.com/course-completion-api:latest
